#targetCard {
    width: 16rem
}

.targetList {
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
}

.targetList li {
    background-color: lightblue;
    padding: 0 95px 0 20px;
}

.targetList li:nth-child(odd) {
    background-color: white;
}

.targetNumber {
    color: black;
    float: right;
}
